nav ul{
    display: flex;
    width: 100%;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
    
}
h1{
    color: aquamarine;
}

li {
list-style: none;
margin-right: 40px;
font-size: 20px;
font-weight: bold;
}
li a{
    text-decoration: none;
}

body h1{
    text-align: center;
}